:root {
  --desktop-max-width: 1440px;
  --mobile-max-width: 375px;

  --background-color: hsl(47, 88%, 63%);
  --card-background-color: hsl(0, 0%, 100%);
  --title-color: hsl(0, 0%, 7%);
  --text-color: hsl(0, 0%, 50%);

  --font: "Figtree", sans-serif;

}
